@import "../../app.scss";

.portfolio {
  position: relative;

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: orange;
    font-size: 36px;

    @include tablet {
      padding-bottom: calc(100vh - 20px);
      // font-size: 40px;
    }

    @include mobile {
      padding-bottom: calc(100vh - 20px);
      font-size: 12px;
    }
    // @include galaxyS8 {
    //   padding-bottom: calc(100vh - 10px);
    // }

    .progressBar {
      height: 10px;
      background-color: white;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .wrapper {
      max-width: 1366px;
      height: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      @include tablet {
        flex-direction: column;
        // height: 100vh;
      }
      @include mobile {
        flex-direction: column;
      }

      .imageContainer {
        flex: 1;
        height: 50%;

        @include tablet {
          max-height: 100%;
        }

        @include mobile {
          // width: 100%;
          max-height: 100%;
        }

        img {
          width: 100%;
          object-fit: cover;

          @include mobile {
            height: 60%;
            width: 100%;
          }
        }
      }

      .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include desktop {
        }

        @include tablet {
          // gap: 20px;

          transform: none !important;
          margin: 0 10rem;
          align-items: center;
          text-align: center;
        }

        @include mobile {
          transform: none !important;
          padding: 10px;
          margin: 0 6rem;
          align-items: center;
          text-align: center;
        }

        h2 {
          font-size: 72px;

          @include desktop {
            font-size: 65px;
          }

          @include tablet {
            font-size: 50px;
          }

          @include mobile {
            font-size: 30px;
          }
        }

        p {
          color: gray;
          font-size: 20px;

          @include tablet {
            display: flex;
            margin-bottom: 4rem;
            font-size: 40px;
          }
          @include mobile {
            font-size: 16px;
            margin-bottom: 2rem;
            letter-spacing: 0.02em;
          }
        }

        button {
          background-color: orange;
          border: none;
          border-radius: 10px;
          padding: 10px;
          width: 200px;
          cursor: pointer;

          @include tablet {
            // position: absolute;

            font-size: 30px;
            width: 20rem;
          }
          @include mobile {
            font-size: medium;
          }
        }
      }
    }
  }
}
