html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #0c0c1d;
  color: lightgray;
  // white-space: pre-wrap;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  overflow: hidden;
}

@mixin galaxyfold {
  @media (max-width: 290px) {
    @content;
  }
}

@mixin galaxyS8 {
  @media (max-width: 360px) {
    @content;
  }
}

@mixin smallMobile {
  @media (max-width: 390px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 822px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1366px) {
    @content;
  }
}
